<!-- Header Start -->
<header>

<div class="header-row">
  <div class="content-wrapper">
      <!-- Utility Links -->
      <div id="header-utility-links" class="header-row__utility-navigation">
        <ul class="utility-navigation-list">
          <li class="utility-navigation-list__item mobile-hidden">
            <a href="https://my.monash/" class="utility-navigation-list__link">
              my.monash
            </a>
          </li>
        <li class="utility-navigation-list__item mobile-hidden">
          <a href="http://monash.edu/students/" class="utility-navigation-list__link">
          Current  students
        </a>
        </li>
        <li class="utility-navigation-list__item mobile-hidden">
          <a href="http://intranet.monash.edu.au/" class="utility-navigation-list__link">
            Staff
          </a>
        </li>
        <li class="utility-navigation-list__item mobile-hidden">
          <a href="http://monash.edu/library/" class="utility-navigation-list__link">
          Library
          </a>
        </li>
        <li class="utility-navigation-list__item mobile-hidden">
          <a href="http://monash.edu/giving/" class="utility-navigation-list__link">
            Giving to Monash
          </a>
        </li>
    </ul>
<!-- /#header-utility-links -->
    </div>
            
    <div class="header-row__items">
      <div class="header-row__logo-wrapper">
        <a href="http://www.monash.edu" id="header-logo-desktop" class="header-row__logo-link"><img src="http://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/monash-logo-mono.svg" class="header-row__logo-img" alt="Monash University"></a>
       <!-- /.header-row__logo-wrapper -->
       </div><!-- /.header-row__logo-wrapper -->
        
    </div>  <!-- /.header-row__items -->
             
  </div>    <!-- /.content-wrapper -->
          
</div>  <!-- /.header-row -->

      <!-- header Nav Start -->
      <nav id="menu" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
           
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li id="home"><a href="{{ site.baseurl }}/">Home</a></li>
                <li id="facilities"><a href="#">Facilities</a></li>
                <li id="access"><a href="#">Access</a></li>
                 <li id="visualisation"><a href="#">Visualisation</a></li>
                <li id="news"><a href="{{ site.baseurl }}/blog">News</a></li>
                <li id="people"><a href="{{ site.baseurl }}/contact">People</a></li>
                <li id="partners"><a href="#">Partners</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
